In [26]:
# Import Libraries
import pandas as pd

In [27]:
# Load Dataset
df = pd.read_csv('data/salaries.csv')

In [28]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,EN,FT,Cyber Security Analyst,45000,EUR,50000,FR,50,FR,L
1,2024,SE,FT,Security Architect,300000,USD,300000,US,0,US,M
2,2024,SE,FT,Security Architect,200000,USD,200000,US,0,US,M
3,2024,EX,FT,Privacy Officer,297000,USD,297000,US,0,US,M
4,2024,EX,FT,Privacy Officer,216000,USD,216000,US,0,US,M

In [29]:
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [36]:
print("Data types of each column:")
df.dtypes

Data types of each column:

work_year                int64
experience_level      category
employment_type       category
job_title               object
salary                 float64
salary_currency         object
salary_in_usd          float64
employee_residence      object
remote_ratio          category
company_location        object
company_size          category
dtype: object

In [31]:
# Convert columns to appropriate data types

# Convert 'work_year' to string (no change needed)

# Convert 'experience_level' to category
df['experience_level'] = df['experience_level'].astype('category')

# Convert 'employment_type' to category
df['employment_type'] = df['employment_type'].astype('category')

# Convert 'job_title' to string (no change needed)

# Convert 'salary' to float
df['salary'] = df['salary'].astype(float)

# Convert 'salary_currency' to string (no change needed)

# Convert 'salary_in_usd' to float
df['salary_in_usd'] = df['salary_in_usd'].astype(float)

# Convert 'employee_residence' to string (no change needed)

# Convert 'remote_ratio' to category (assuming it represents categories)
df['remote_ratio'] = df['remote_ratio'].astype('category')

# Convert 'company_location' to string (no change needed)

# Convert 'company_size' to category
df['company_size'] = df['company_size'].astype('category')

# Check data types after conversion
print("\nData types after conversion:")
df.dtypes

Data types after conversion:

work_year                int64
experience_level      category
employment_type       category
job_title               object
salary                 float64
salary_currency         object
salary_in_usd          float64
employee_residence      object
remote_ratio          category
company_location        object
company_size          category
dtype: object

In [32]:
duplicate_rows = df[df.duplicated()]
duplicate_rows

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
31,2024,SE,FT,Security Engineer,230000.0,USD,230000.0,US,0,US,M
32,2024,SE,FT,Security Engineer,168000.0,USD,168000.0,US,0,US,M
43,2024,SE,FT,Security Engineer,238050.0,USD,238050.0,US,0,US,M
44,2024,SE,FT,Security Engineer,175950.0,USD,175950.0,US,0,US,M
57,2024,SE,FT,Security Engineer,190000.0,USD,190000.0,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
5042,2021,MI,FT,Cyber Security Analyst,90000.0,USD,90000.0,US,100,US,L
5129,2021,MI,FT,Information Security Engineer,120000.0,USD,120000.0,US,100,US,L
5171,2021,MI,FT,Penetration Tester,100000.0,USD,100000.0,US,100,US,M
5199,2021,EN,FT,Cyber Security Analyst,80000.0,USD,80000.0,US,50,US,L
5321,2020,SE,FT,Information Security Specialist,170000.0,USD,170000.0,US,100,US,L

In [33]:
df_cleaned = df.drop_duplicates()
df_cleaned.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,EN,FT,Cyber Security Analyst,45000.0,EUR,50000.0,FR,50,FR,L
1,2024,SE,FT,Security Architect,300000.0,USD,300000.0,US,0,US,M
2,2024,SE,FT,Security Architect,200000.0,USD,200000.0,US,0,US,M
3,2024,EX,FT,Privacy Officer,297000.0,USD,297000.0,US,0,US,M
4,2024,EX,FT,Privacy Officer,216000.0,USD,216000.0,US,0,US,M

In [34]:
# Check DataFrame shape before removing duplicates
print("Shape before removing duplicates:", df.shape)
# Check DataFrame shape after removing duplicates
print("Shape after removing duplicates:", df_cleaned.shape)

Shape before removing duplicates: (5330, 11)
Shape after removing duplicates: (3649, 11)

In [35]:
# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv('Data\cleaned_salaries.csv', index=False)