In [1]:
import pandas as pd

In [2]:
# Load the dataset
data = pd.read_csv("data/mental_health_finaldata.csv")

##### Exploratory Data Analysis

In [3]:
data.head()

,Age,Gender,Occupation,Days_Indoors,Growing_Stress,Quarantine_Frustrations,Changes_Habits,Mental_Health_History,Weight_Change,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness
0,20-25,Female,Corporate,1-14 days,Yes,Yes,No,Yes,Yes,Medium,No,No,Yes
1,30-Above,Male,Others,31-60 days,Yes,Yes,Maybe,No,No,High,No,No,Yes
2,30-Above,Female,Student,Go out Every day,No,No,Yes,No,No,Medium,Yes,Maybe,No
3,25-30,Male,Others,1-14 days,Yes,No,Maybe,No,Maybe,Medium,No,Maybe,Yes
4,16-20,Female,Student,More than 2 months,Yes,Yes,Yes,No,Yes,Medium,Yes,Maybe,No

In [4]:
data.shape

(824, 13)

In [8]:
data.columns

Index(['Age', 'Gender', 'Occupation', 'Days_Indoors', 'Growing_Stress',
       'Quarantine_Frustrations', 'Changes_Habits', 'Mental_Health_History',
       'Weight_Change', 'Mood_Swings', 'Coping_Struggles', 'Work_Interest',
       'Social_Weakness'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824 entries, 0 to 823
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      824 non-null    object
 1   Gender                   824 non-null    object
 2   Occupation               824 non-null    object
 3   Days_Indoors             824 non-null    object
 4   Growing_Stress           824 non-null    object
 5   Quarantine_Frustrations  824 non-null    object
 6   Changes_Habits           824 non-null    object
 7   Mental_Health_History    824 non-null    object
 8   Weight_Change            824 non-null    object
 9   Mood_Swings              824 non-null    object
 10  Coping_Struggles         824 non-null    object
 11  Work_Interest            824 non-null    object
 12  Social_Weakness          824 non-null    object
dtypes: object(13)
memory usage: 83.8+ KB

In [5]:
data.dtypes

Age                        object
Gender                     object
Occupation                 object
Days_Indoors               object
Growing_Stress             object
Quarantine_Frustrations    object
Changes_Habits             object
Mental_Health_History      object
Weight_Change              object
Mood_Swings                object
Coping_Struggles           object
Work_Interest              object
Social_Weakness            object
dtype: object

In [6]:
data.isnull().sum()

Age                        0
Gender                     0
Occupation                 0
Days_Indoors               0
Growing_Stress             0
Quarantine_Frustrations    0
Changes_Habits             0
Mental_Health_History      0
Weight_Change              0
Mood_Swings                0
Coping_Struggles           0
Work_Interest              0
Social_Weakness            0
dtype: int64

In [7]:
data.describe()

,Age,Gender,Occupation,Days_Indoors,Growing_Stress,Quarantine_Frustrations,Changes_Habits,Mental_Health_History,Weight_Change,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness
count,824,824,824,824,824,824,824,824,824,824,824,824,824
unique,4,2,5,5,3,3,3,3,3,3,2,3,3
top,30-Above,Female,Housewife,31-60 days,Yes,Yes,Yes,No,Maybe,Medium,No,No,Maybe
freq,222,434,185,171,301,304,305,284,281,280,414,295,287

In [10]:
data.nunique()

Age                        4
Gender                     2
Occupation                 5
Days_Indoors               5
Growing_Stress             3
Quarantine_Frustrations    3
Changes_Habits             3
Mental_Health_History      3
Weight_Change              3
Mood_Swings                3
Coping_Struggles           2
Work_Interest              3
Social_Weakness            3
dtype: int64

In [12]:
data.duplicated().sum()

0

##### Distribution of Participants Across Different Age Groups, Genders, and Occupations

In [15]:
# Distribution of Age Groups
age_distribution = data['Age'].value_counts()

# Distribution of Genders
gender_distribution = data['Gender'].value_counts()

# Distribution of Occupations
occupation_distribution = data['Occupation'].value_counts()

In [16]:
print("Distribution of Participants Across Different Age Groups:")
print(age_distribution)

Distribution of Participants Across Different Age Groups:
Age
30-Above    222
16-20       211
25-30       205
20-25       186
Name: count, dtype: int64

In [17]:
print("Distribution of Participants Across Different Genders:")
print(gender_distribution)

Distribution of Participants Across Different Genders:
Gender
Female    434
Male      390
Name: count, dtype: int64

In [18]:
print("Distribution of Participants Across Different Occupations:")
print(occupation_distribution)

Distribution of Participants Across Different Occupations:
Occupation
Housewife    185
Student      180
Corporate    159
Others       155
Business     145
Name: count, dtype: int64